* {
    padding: 0; margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: radial-gradient(circle at 50% 90%, #fff, skyblue); 
    display: grid;
    place-items: center;
}
.frame {
    width: 360px;
    height: 360px;
    background: linear-gradient(135deg, #36bd77a8, #3faf829c 50%, #36bd77a8 50%),
                linear-gradient(45deg, #0b4e2e, #36b683 50%, #2b805e 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 21px rgba(0, 0, 0, 0.2),
    0 0 50px -5px rgba(0, 0, 0, 0.7);
}
.menu-icon {
    width: 90px;
    height: 70px;
    cursor: pointer;
}
.bar1,
.bar2,
.bar3 {
    width: 90px;
    height: 8px;
    background: #fff;
    margin: 12px auto;
    border-radius: 3px;
    box-shadow: 0 0 7px rgba(30, 30, 30, 0.5);
    transform-origin: center;
    transform: translateY(0);
    transition: all 0.5s;
}

.menu-icon.open .bar1 {animation: bar1 0.5s ease-out both;}
.menu-icon.open .bar2 {animation: bar2 0.5s ease-out both;}
.menu-icon.open .bar3 {animation: bar3 0.5s ease-out both;}

.menu-icon.close .bar1 {animation: bar1An 0.5s ease-out;}
.menu-icon.close .bar2 {animation: bar2AN 0.5s ease-out;}
.menu-icon.close .bar3 {animation: bar3An 0.5s ease-out;}

@keyframes bar1 {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, 18px, 0);
    }
    100% {
        transform: translate3d(0, 21px, 0) rotate(45deg);
    }
}
@keyframes bar2 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes bar3 {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, -18px, 0);
    }
    100% {
        transform: translate3d(0, -21px, 0) rotate(135deg);
    }
}


@keyframes bar1An {
    0% {
        transform: translate3d(0, 21px, 0) rotate(45deg);
    }
    50% {
        transform: translate3d(0, 18px, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes bar2An {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes bar3An {
    0% {
        transform: translate3d(0, -21px, 0) rotate(135deg);
    }
    50% {
        transform: translate3d(0, -18px, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}